body {
    font-family: 'Roboto';
    background-color: #fafaff;
    max-width: 100%;
    margin: 0;
}

#head{
    background-color: #232423;
    position: sticky;
    text-align: center;
    color: white;
    padding: 1vh;
    font-size: 2vh;
    top: 0em;
    justify-content: center;
}
#head a:visited{color: #b300ff;}

#Container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

#content-bucket {
    padding: 2em;
    padding-top: 0;
    width: 60vw;/**/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
}
#content-bucket h1 {padding-top: 2rem;}
#content-bucket :not(img) {align-self: flex-start;}
#content-bucket img {width: 80%;}

.nav {
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    height: 95.5vh;
    width: 20vw;
    margin-left: 0;
    margin-top: 0;
    position: sticky;
    top: 4.5vh;
    overflow-y: auto;
    overflow-x: none;
}

.nav * {
    margin-bottom: 0;
    margin-left: 10%;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0;
}
.nav li {padding-left: 0; font-size: 2.5vh;}

#TOC li{
    list-style-type: none;
    border-left: solid 5px gray;
    margin-left: 0;
    margin-right: 4em;
    padding-left: 1em;
}